@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">MVC MOVIES</h1>
    <h2>Hello from CYB class</h2>
    <marquee>
        <img src="~/img/smile.png" />
    </marquee>
    
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
